:root{
    --button-color:#6c63ff;
    --heading-font-family:'Playfair Display',
        serif;
        --default-font-family:'Poppins', sans-serif;
        --secondary-color:#f9f7fe;
}

body{
    font-family: var(--default-font-family);
}
h1, h2, h3, h4, h5{font-family: 'Poppins',
        sans-serif;
font-weight: bold;
color:black;
}

h1{
    font-size:96px;
    line-height: 1.5;
}
h2{
    font-size: 64px;
}

p{
    font-family: var(--heading-font-family);
font-weight:normal;
color:black;
font-size: 16px;
line-height: 30px;
}

.hero {
    background-color: var(--secondary-color);
    text-align:center;
    padding: 160px 20px;
}

.hero p{
    font-size:36px;
    font-weight:bold;
    margin:0;
    color:#272142;
}

.hero h2{
    font-family: 'Poppins',
            sans-serif;
     font-weight:normal;
     font-size:24px;    
     line-height:2;   

}

.btn-contact {
    background-color: var(--button-color);
    color:white;
    border-radius: 4px;
    font-size:18px;
    line-height: 27px;
    padding:15px 30px;
}

.btn-projects{
    border-radius: 4px;
        font-size: 18px;
        line-height: 27px;
        padding: 15px 30px;
        color:var(--button-color);
        border: 1px solid var(--button-color);
}

.project-outline{
    padding: 120px 60px;
}

.profile-image{
    border-radius: 20px;
    max-width:560px;
}
.content-container{
    padding:160px 20px;
}

.content-container h1{
    font-size:64px;
    line-height: 80px;
}

.content-container h2{
    font-family: var(--default-font-family);
    font-size:18px;
}

.content{
    margin:30px;
}

@media(max-width: 960px){
    h1{
        font-size: 44px;
    }
    h2{font-size: 44px;}
    .project-outline{
        padding:0px;
    text-align: center;    }
    .hero{
        padding:80px 20px;
    }
    .content-container{
        text-align:center;
        padding:0px;
    }
}
